<html>
    <head>
        <title>Day Two</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <header class="header">
            <div class="container">
                <nav class="header-navigation">
                    <ul class="header-menu">
                        <li class="header-menu-item"><a class="header-menu-item-link" href="/">Home</a></li>
                        {{#if user}}
                        <li class="header-menu-item"><a class="header-menu-item-link" href="/starter">Starter</a></li>
                            <li class="header-menu-item"><a class="header-menu-item-link" href="/users/logout">Logout</a></li>
                        {{else}}
                            <li class="header-menu-item"><a class="header-menu-item-link" href="/users/login">Login</a></li>
                            <li class="header-menu-item"><a class="header-menu-item-link" href="/users/register">Register</a></li>
                        {{/if}}
                    </ul>
                </nav>
            </div>
        </header>

        {{#if error_msg}}
            <div class="container">
                <div class="message">{{error_msg}}</div>
            </div>
        {{/if}}
        {{#if success_msg}}
            <div class="container">
                <div class="message">{{success_msg}}</div>
            </div>
        {{/if}}
        {{#if error}}
            <div class="container">
                <div class="message">{{error_msg}}</div>
            </div>
        {{/if}}
        
        {{{body}}}
    </body>
</html>
