<div class="band--LARGE">
	<div class="container">
		<h1 class="page-title">Hello {{user.name}}!</h1>
		<p class="page-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
		<hr class="divider--ACCENT">
		<div class="tasks">
			<ul class="tasks-list">
			{{#each user.tasks as |task|}}
				<li class="tasks-list-item">
					<h5>{{task.title}}</h5>
					{{!-- description --}}
					<p>{{task.notes}}</p>
					<p class="util-meta">Resource: {{task.resource}}</p>
					{{!-- breakdown into list --}}
					<p class="util-meta">Related links:
						{{#each task.links as |link|}}
							<span><a class="link-base" href="{{link}}">{{link}}</a></span>
						{{/each}}
					</p>
				</li>
				<hr class="divider--GRAY">
			{{/each}}
			</ul>
		</div>

	</div>
</div>