<div class="band--LARGE">
	<div class="container">
		<h1 class="page-title">Hello {{user.name}}!</h1>
		<p class="page-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
		<hr class="divider--ACCENT">
		<div class="tasks">
			<ul class="tasks-list">
			{{#each user.tasks as |task|}}
				<li class="tasks-list-item" data-id="{{task._id}}">
					<div class="tasks-list-item--INFO">
						<h5 class="tasks-list-item-title">{{task.title}}</h5>
						{{!-- description --}}
						{{#if task.notes}}
							<p>{{task.notes}}</p>
						{{/if}}
						{{!-- resource --}}
						{{#if task.resource}}
							<p class="util-meta">Resource: <a class="link--COOL" href="{{task.resource.email}}">{{task.resource.name}}</a></p>
						{{/if}}
						{{#if task.links}}
						{{!-- related links --}}
							<ul class="util-meta">Related links:
								{{#each task.links as |link|}}
									<li class="util-meta"><a class="link--COOL" href="{{link.url}}">{{link.title}}</a></li>
								{{/each}}
							</ul>
						{{/if}}
					</div>
					<div class="tasks-list-item--STATUS">
						<input id="form-checkbox" type="checkbox" value={{task.isDone}}>
					</div>
				</li>
				<hr class="divider--GRAY">
			{{/each}}
			</ul>
		</div>
	</div>
</div>
<script src="/js/main.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
